// color
$purple: rgb(102, 7, 78);
$orange: rgb(255, 136, 38);
$magenta: rgb(194, 11, 87);

// Fonts //
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // "Righteous", cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); // "Montserrat", sans-serif;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  #content {
    width: 80%;
    height: 100%;
  }

  nav {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #menuButton {
      width: 50px;
      height: 50px;
      color: white;
      background-color: $magenta;
      border-radius: 50px;
      border: none;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 50px;
    }

    #menuButton:hover {
      background-color: $orange;
    }
    #menuButton:focus + #menuContainer {
      opacity: 1;
      pointer-events: all;
    }

    #menuContainer {
      width: 20%;
      height: 100%;
      background-color: $purple;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease;
      position: absolute;

      ul {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          margin-bottom: 30px;
          a {
            color: white;
            text-decoration: none;
          }
        }
        #back {
          margin-top: 200px;
        }
        a:hover {
          color: $orange;
        }
      }
    }
  }
}
