// Fonts //
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // "Righteous", cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); // "Montserrat", sans-serif;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #photoContainer {
    width: 80%;
    height: 80%;
    border: 2px solid orange;

    .slide {
      width: 100%;
      opacity: 0;
      z-index: 1;
      position: absolute;
    }
    .active-slide {
      width: 100%;
      opacity: 1;
    }
  }
}
